<div id="sticker" class="header-navigation-area hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- mainmenu start -->
                <nav class="navbar navbar-default">
                    <div class="collapse navbar-collapse" id="navbar-example">
                        <div class="menu-main">
                            <ul class="nav navbar-nav">
                                <li><a class="pagess" href="{% url 'index' %}">خانه</a>
                                </li>
                                <li><a class="pagess">درباره ما</a>
                                    <ul class="sub-inner-menu">
                                        <li><a href="{% url 'about' %}">درباره ما</a></li>
                                        <li><a href="{% url 'team' %}">تیم</a></li>
                                    </ul>
                                </li>
                                <li><a class="pagess" href="#">خدمات</a>
                                    <ul class="sub-inner-menu">
                                        <li><a>راهکارهای مرکز داده </a></li>
                                        <li><a>راهکارهای امنیت اطلاعات </a></li>
                                        <li><a>راهکارهای شبکه های کامپیوتری</a></li>
                                        <li><a>راهکارهای نرم افزار</a></li>
                                        <li><a>راهکارهای هوشمند سازی</a></li>
                                    </ul>
                                </li>
                                <li><a class="pagess" href="#">پروژه ها</a>
                                    <ul class="sub-inner-menu">
                                        <li><a>پروژهای طراحی وب</a></li>
                                        <li><a>پروژهای نرم افزار سفارش مشتری</a></li>
                                        <li><a>فروش تجهیزات شبکه و مرکز داده</a></li>
                                    </ul>
                                </li>
                                <li><a class="pagess" href="#">وبلاگ</a>
                                    <ul class="sub-inner-menu">
                                        <li><a>اخبار شرکت</a></li>
                                        <li><a>مقاله های علمی </a></li>
                                    </ul>
                                </li>
                                <li><a class="pagess" href="#">آموزش</a>
                                    <ul class="sub-inner-menu">
                                        <li><a>اخبار شرکت</a></li>
                                        <li><a>مقاله های علمی </a></li>
                                        <li><a>دوره های آموزشی </a>
                                        <li><a>مقاله های علمی </a></li>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- mainmenu end -->
            </div>
            <!-- mobile-area-menu-block start -->
            <div class="mobile-area-menu-block hidden-lg hidden-md hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- header-navigation-area end -->
