{% load static %}
<header>
    <!-- Start top bar -->
    <div class="topbar-section fix hidden-xs">
        <div class="container">
            <div class="row">
                <div class=" col-md-6 col-sm-6">
                    <div class="top-bar-right">
                        <p>شرکت رایان اندیش یگانه آریا</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="top-bar-left">
                        <ul>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End top bar -->
    <!-- header-navigation-area start -->
    <div class="header-middle-block hidden-xs">
        <div class="container">
            <div class="row">
                <!-- logo start -->
                <div class="col-md-3 col-sm-3" style="float: right !important;">
                    <div class="logo">
                        <!-- Brand -->
                        <a class="navbar-brand page-scroll sticky-logo" href="index.html"> <img src="img/logo/logo.png"
                                                                                                alt=""> </a></div>
                </div>
                <!-- logo end -->
                <div class="col-md-9 col-sm-9">
                    <div class="header-middle-block">
                        <div class="header-contact-info">
                            <div class="header-icon"><i class="fa fa-phone"></i></div>
                            <div class="header-contact-info-text"><span class="info-first">تلفن</span> <span
                                    class="info-simple">+۹۸-۲۱-۲۲۲۶۳۵۱۳</span></div>
                        </div>
                        <div class="header-contact-info">
                            <div class="header-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="header-contact-info-text"><span class="info-first">پست الکترونیک</span> <span
                                    class="info-simple">info@sitename.com</span></div>
                        </div>
                        <div class="header-contact-info hidden-sm">
                            <div class="header-icon"><i class="fa fa-thumb-tack"></i></div>
                            <div class="header-contact-info-text"><span class="info-first">آدرس</span> <span
                                    class="info-simple">لورم ایپسوم متن ساختگی با تولید </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End middle bar -->


    <!-- mobile-area-menu-block end -->
</header>
