{% load static %}
<header>
    <!-- Start top bar -->

    <div class="topbar-section fix hidden-xs">
        <div class="container">
            <div class="row">

                <div class=" col-md-5 col-sm-5" style="margin-top: 10px">
                    {% if user.is_authenticated %}
                        <a href="{% url 'dashboard' %}" class="btn btn-primary" role="button">داشبورد </a>
                        {{ user.username }} خوش آمدید
                        <li class="col-md-5 col-sm-5">
                            <a style="background-color: orange" href="javascript:{document.getElementById('logout').submit()}"
                               class="btn btn-primary">خروج
                            </a>
                        <form action="{% url 'logout' %}" method="POST" id="logout">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                        </li>
                    {% else %}
                        <div class="top-bar-right">
                            <a href="{% url 'login' %}" class="btn btn-primary" role="button">ورود</a>
                            <a href="{% url 'register' %}" class="btn btn-warning" role="button">ثبت نام</a>
                        </div>
                    {% endif %}
                </div>

                <div class=" col-md-4 col-sm-4" style="margin-top: 10px; margin-left: auto">
                    <div class="top-bar-right">
                        <h4 style="color: #2e6da4">شرکت رایان اندیش یگانه آریا</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="top-bar-left">
                        <ul>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End top bar -->
    <!-- header-navigation-area start -->
    <div class="header-middle-block hidden-xs">
        <div class="container">
            <div class="row">
                <!-- logo start -->
                <div class="col-md-3 col-sm-3" style="float: right !important;">
                    <div class="logo">
                        <!-- Brand -->
                        <a class="navbar-brand page-scroll sticky-logo" href="{% url 'index' %}">
                            <img src="{% static 'img/logo/raya_logo.png' %}" width="80" height="80" alt=""> </a></div>

                </div>
                <!-- logo end -->
                <div class="col-md-9 col-sm-9">
                    <div class="header-middle-block">
                        <div class="header-contact-info">
                            <div class="header-icon"><i class="fa fa-phone"></i></div>
                            <div class="header-contact-info-text"><span class="info-first">تلفن</span> <span
                                    class="info-simple">+۹۸-۲۱-۲۲۲۶۳۵۱۳</span></div>
                        </div>
                        <div class="header-contact-info">
                            <div class="header-icon"><i class="fa fa-clock-o"></i></div>
                            <div class="header-contact-info-text"><span class="info-first">پست الکترونیک</span> <span
                                    class="info-simple">info@rayaco.net</span></div>
                        </div>
                        <div class="header-contact-info hidden-sm">
                            <div class="header-icon"><i class="fa fa-thumb-tack"></i></div>
                            <div class="header-contact-info-text"><span class="info-first">آدرس</span> <span
                                    class="info-simple">شریعتی خ حمید صدیق پلاک ۱۱ </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End middle bar -->


    <!-- mobile-area-menu-block end -->
</header>
