{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- about-section start -->
<div class="about-section area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="about-content-box">
          <h4>ما بهترین خدمات و راهکارها را ارایه می دهیم: </h4>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
          <p class="heilight">برای هر مشتری راهکاری جامع و مخصوص ارایه می دهیم. اینجاییم تا به شما کمک کنیم.</p>
          <ul>
          	<li>ارتقای تجارت</li>
            <li>فرآیند بازاریابی</li>
            <li>بهترین پیشنهادهای تجاری</li>
            <li>برنامه ریزی تجاری</li>
            <li>سریع ترین راهکار</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="video-about-inner text-center">
          <div class="about-video-content"> <a href="https://as3.cdn.asset.aparat.com/aparat-video/5e58dab14782dc5a12b69b0b7d51e4641081097__75110.apt?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6IjliOGMyOWIwMzlkZTVjYzkwNWM4MzgzZGE3ZTcxZTE1IiwiZXhwIjoxNTY4NzUxMTA0LCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.bzXsJ92_mCXnaEOzDaQk1FZAikfta2of2ksvOoZJuoM" class="video-play vid-zone"> <i class="fa fa-play"></i> </a> </div>
        </div>
      </div>
      <!-- column end -->

    </div>
  </div>
</div>
<!-- about-section end -->
<!-- Start About Area -->
<div class="counter-section parallax-bg" data-stellar-background-ratio="0.6">
  <div class="display-table">
    <div class="display-table-cell">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="about-counter-block">
              <div class="fun-content">
                <div class="counter_text"><i class="fa fa-file-text-o" aria-hidden="true"></i> <span class="counter">0</span>
                  <h5>پروژه تکمیل شده</h5>
                </div>
                <!-- counter_text  -->
                <div class="counter_text"> <i class="fa fa-smile-o" aria-hidden="true"></i><span class="counter">0</span>
                  <h5>مشتریان راضی</h5>
                </div>
                <!-- counter_text  -->
                <div class="counter_text"> <i class="fa fa-user-o" aria-hidden="true"></i><span class="counter">0</span>
                  <h5>نیروی فعال</h5>
                </div>
                <div class="counter_text"><i class="fa fa-trophy" aria-hidden="true"></i> <span class="counter">0</span>
                  <h5>جایزه</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end Row -->
      </div>
    </div>
  </div>
</div>
<!-- End About Area -->
<!--Team Area Start-->
<div class="team-section area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-title text-center">
          <h3>تیم ما</h3>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرای</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="team-member-block">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="single-item-member">
            <div class="team-member-img"> <a href="#"> <img src="img/team/t1.jpg" alt=""> </a> </div>
            <div class="team-member-content">
              <div class="team-member-title">
                <h4>نام عضو</h4>
                <h6>موقعیت</h6>
              </div>
              <div class="team-description">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
              </div>
              <div class="team-member-social">
                <ul class="social-icon">
                  <li><a href=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- team member-->
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="single-item-member">
            <div class="team-member-img"> <a href="#"> <img src="img/team/t2.jpg" alt=""> </a> </div>
            <div class="team-member-content">
              <div class="team-member-title">
                <h4>نام عضو</h4>
                <h6>موقعیت</h6>
              </div>
              <div class="team-description">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
              </div>
              <div class="team-member-social">
                <ul class="social-icon">
                  <li><a href=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- team member-->
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="single-item-member">
            <div class="team-member-img"> <a href="#"> <img src="img/team/t3.jpg" alt=""> </a> </div>
            <div class="team-member-content">
              <div class="team-member-title">
                <h4>نام عضو</h4>
                <h6>موقعیت</h6>
              </div>
              <div class="team-description">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
              </div>
              <div class="team-member-social">
                <ul class="social-icon">
                  <li><a href=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- team member-->
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="single-item-member">
            <div class="team-member-img"> <a href="#"> <img src="img/team/t4.jpg" alt=""> </a> </div>
            <div class="team-member-content">
              <div class="team-member-title">
                <h4>نام عضو</h4>
                <h6>موقعیت</h6>
              </div>
              <div class="team-description">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
              </div>
              <div class="team-member-social">
                <ul class="social-icon">
                  <li><a href=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                  <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- team member-->
      </div>
    </div>
    <!-- End row -->
  </div>
</div>
<!--End of Team Area-->
<!-- Start FAQ -->
<div class="faq-page-inner-section area-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-title text-center">
          <h3>سوالاات پرتکرار</h3>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Start FAQ Start -->
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="faq-area-full">
          <div class="faq-area-details">
            <div class="panel-group" id="accordion">
              <!-- Panel Default -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="check-title"> <a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1"> <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم ؟</a> </h4>
                </div>
                <div id="check1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                  </div>
                </div>
              </div>
              <!-- End Panel Default -->
              <!-- Panel Default -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="check-title"> <a data-toggle="collapse" data-parent="#accordion" href="#check2"> <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ؟ </a> </h4>
                </div>
                <div id="check2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                  </div>
                </div>
              </div>
              <!-- End Panel Default -->
              <!-- Panel Default -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="check-title"> <a data-toggle="collapse" data-parent="#accordion" href="#check3"> <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ؟</a> </h4>
                </div>
                <div id="check3" class="panel-collapse collapse ">
                  <div class="panel-body">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                  </div>
                </div>
              </div>
              <!-- End Panel Default -->
              <!-- Panel Default -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="check-title"> <a data-toggle="collapse" data-parent="#accordion" href="#check4"> <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ؟</a> </h4>
                </div>
                <div id="check4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                  </div>
                </div>
              </div>
              <!-- End Panel Default -->
              <!-- Panel Default -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="check-title"> <a data-toggle="collapse" data-parent="#accordion" href="#check5"> <span class="acc-icons"></span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ؟</a> </h4>
                </div>
                <div id="check5" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                  </div>
                </div>
              </div>
              <!-- End Panel Default -->
            </div>
          </div>
          <!-- End FAQ -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End FAQ -->
{% endblock %}
