{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Start Slider Area -->
    <div class="intro-section left-dir">
        <div class="main-overly-block"></div>
        <div class="intro-carousel-slider">
            <div class="intro-content-box">
                <div class="slider-images"><img src="{% static 'img/slider/s4.jpg' %}" alt=""></div>
                <div class="slider-content">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <!-- layer 1 -->
                                        <div class="layer-1">
                                            <h1 class="title2">به شما کمک می کنیم<br/>
                                                <span>
                      <div class="underline">تجارتتان</div>
                      </span>را ارتقا دهید
                                            </h1>
                                        </div>
                                        <!-- layer 2 -->
                                        <div class="layer-2 ">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و </p>
                                        </div>
                                        <!-- layer 3 -->
                                        <div class="layer-3"><a href="#" class="ready-btn left-btn">درباره ما</a> <a
                                                href="#" class="ready-btn right-btn">تماس با ما</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-content-box">
                <div class="slider-images"><img src="{% static 'img/slider/s6.jpeg' %}" alt=""></div>
                <div class="slider-content">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 text-center">
                                        <!-- layer 1 -->
                                        <div class="layer-1">
                                            <h1 class="title2">کمکتان می کنیم<br/>
                                                <span>
                      <div class="underline">تجارتتان </div>
                      را ارتقا دهید</span></h1>
                                        </div>
                                        <!-- layer 2 -->
                                        <div class="layer-2 ">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                                طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و </p>
                                        </div>
                                        <!-- layer 3 -->
                                        <div class="layer-3"><a href="#" class="ready-btn left-btn">درباره ما</a> <a
                                                href="#" class="ready-btn right-btn">تماس با ما</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->
    <!-- service area start -->
    <div class="welcome-section area-padding">

        <div class="container">
            <div class="row">
                <!-- single-page-well end-->
                {% for list in service_listings %}
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="welcome-services">
                        <div class="services-img-box"><img src="{% static 'img/slider/s8.jpeg' %}" alt="">
                            <div class="number"><i class="fa fa-anchor" aria-hidden="true"></i></div>
                        </div>
                        <div class="main-services">
                            <div class="service-content-block">
                                <h4>{{ list.title }}</h4>
                                <p>{{ list.content }}</p>
                                <a class="service-btn" href="#">بیشتر بدانید</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- single-page-well end -->
            </div>
        </div>
    </div>
    <!-- service-area end -->

    <!-- Start Service area -->
    <div class="services-section area-padding">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h3>خدمات ما</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="all-services">
                    <!-- Start services -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-services-item"><a class="service-images" href="#"><i class="fa fa-code"></i></a>
                            <div class="service-content-block">
                                <h4><a href="#">توسعه وب</a></h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                            </div>
                        </div>
                    </div>

                    <!-- Start services -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-services-item"><a class="service-images" href="#"><i class="fa fa-html5"></i></a>
                            <div class="service-content-block">
                                <h4><a href="#">HTML5</a></h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Start services -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-services-item"><a class="service-images" href="#"><i
                                class="fa fa-wordpress"></i></a>
                            <div class="service-content-block">
                                <h4><a href="#">WordPress</a></h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-services-item"><a class="service-images" href="#"><i
                                class="fa fa-joomla"></i></a>
                            <div class="service-content-block">
                                <h4><a href="#">Joomla</a></h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-services-item"><a class="service-images" href="#"><i
                                class="fa fa-life-ring"></i></a>
                            <div class="service-content-block">
                                <h4><a href="#">پشتیبانی مشتری</a></h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-services-item"><a class="service-images" href="#"><i
                                class="fa fa-desktop"></i></a>
                            <div class="service-content-block">
                                <h4><a href="#">طراحی وبسایت</a></h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Service area -->
{% endblock %}
