{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Start Slider Area -->
<div class="intro-section left-dir">
  <div class="main-overly-block"></div>
  <div class="intro-carousel-slider">
    <div class="intro-content-box">
      <div class="slider-images"> <img src="{% static 'img/slider/s1.jpg' %}" alt=""> </div>
      <div class="slider-content">
        <div class="display-table">
          <div class="display-table-cell">
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <!-- layer 1 -->
                  <div class="layer-1">
                    <h1 class="title2">به شما کمک می کنیم<br/>
                      <span>
                      <div class="underline">تجارتتان</div>
                      </span>را ارتقا دهید</h1>
                  </div>
                  <!-- layer 2 -->
                  <div class="layer-2 ">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و </p>
                  </div>
                  <!-- layer 3 -->
                  <div class="layer-3"> <a href="#" class="ready-btn left-btn" >درباره ما</a> <a href="#" class="ready-btn right-btn" >تماس با ما</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="intro-content-box">
      <div class="slider-images"> <img src="{% static 'img/slider/s2.jpg' %}" alt=""> </div>
      <div class="slider-content">
        <div class="display-table">
          <div class="display-table-cell">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12 text-center">
                  <!-- layer 1 -->
                  <div class="layer-1">
                    <h1 class="title2">کمکتان می کنیم<br/>
                      <span>
                      <div class="underline">تجارتتان </div>
                      را ارتقا دهید</span></h1>
                  </div>
                  <!-- layer 2 -->
                  <div class="layer-2 ">
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و </p>
                  </div>
                  <!-- layer 3 -->
                  <div class="layer-3"> <a href="#" class="ready-btn left-btn" >درباره ما</a> <a href="#" class="ready-btn right-btn" >تماس با ما</a> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Slider Area -->
{% endblock %}
