{% extends 'base.html' %}
{% load static %}

{% block title %} | خوش آمدید {% endblock %}

{% block content %}
    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

    <!-- Start Slider Area -->
    <div class="intro-section left-dir">
        <div class="main-overly-block"></div>
        <div class="intro-carousel-slider">
            <div class="intro-content-box">
                <div class="slider-images"><img src="{% static 'img/slider/s4.jpg' %}" alt=""></div>
                <div class="slider-content">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <!-- layer 1 -->
                                        <div class="layer-1">
                                            <h1 class="title2">کمکتان میکنیم زیر ساخت<br/>
                                                <span>
                      <div class="underline" style="color: orange">ابری</div>
                     خود را بسازید </span>
                                            </h1>
                                        </div>
                                        <!-- layer 2 -->
                                        <div class="layer-2 ">
                                            <p>یکی از عوامل در مورد زیرساخت در رایانش ابری به عنوان سرویس، این است که
                                                این مدل از ابر طوری توسعه یافته است که کمک کند هزینه های پیاده سازی را
                                                به حداقل برساند، از این رو هزینه های نرم افزار، سخت افزار و ابزارهای
                                                شخصی در یک محیط کاملا مدیریت شده، قابل دست یابی هستند.
                                            </p>
                                        </div>
                                        <!-- layer 3 -->
                                        <div class="layer-3"><a  href="#" class="ready-btn left-btn">بیشتر بدانید</a>
                                            <a href="#" class="ready-btn right-btn ">تماس با ما</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-content-box">
                <div class="slider-images"><img src="{% static 'img/slider/s6.jpeg' %}" alt=""></div>
                <div class="slider-content">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 text-center">
                                        <!-- layer 1 -->
                                        <div class="layer-1">
                                            <h1 class="title2">کمکتان می کنیم<br/>
                                                <span>
                      <div class="underline" style="color: orange">امنیتتان </div>
                      را ارتقا دهید</span></h1>
                                        </div>
                                        <!-- layer 2 -->
                                        <div class="layer-2 ">
                                            <p> <br> خدمات ما :</p>
                                            <p>
                                                طراحی پلان های امنیتی و استراتژی
                                                آزمون امنیتی و رفع مشکلات موجود،
                                                بررسی ریسک ها و تهدیدات شبکه
                                            </p>
                                        </div>
                                        <!-- layer 3 -->
                                        <div class="layer-3"><a href="#" class="ready-btn left-btn">درباره ما</a> <a
                                                href="#" class="ready-btn right-btn">تماس با ما</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slider Area -->
    <!-- service area start -->
    <div class="welcome-section area-padding">

        <div class="container">
            <div class="row">
                <!-- single-page-well end-->
                {% for list in service_listings %}
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="welcome-services" >
                            <div class="services-img-box" ><img src="{{ list.photo_main.url }}" width="300"
                                                               alt="" >
                                <div class="number" ><i class="fa fa-anchor" aria-hidden="true" ></i></div>
                            </div>
                            <div class="main-services">
                                <div class="service-content-block"
                                     style="margin-left:auto; height: 300px ;overflow-y: scroll ">
                                    <h4>{{ list.title }}</h4>
                                    <p id="service content">{{ list.content }}
                                    </p>
                                    <p><a class=" service-btn" href="#">بیشتر بدانید</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- single-page-well end -->
            </div>
        </div>
    </div>
    <!-- service-area end -->

    <!-- Start Service area -->
    <div class="services-section area-padding">
        <div class="container">

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h3>خدمات ما</h3>
                        <p> ارایه راهکارهای پیاده سازی و استقرار طراحی وب و زیر ساخت های فناوری اطلاعات <br>
                            تیم شرکت رایا با بهره گیری از کارشناسان با سابقه آماده همکاری با شرکت ها موسسات آموزش میباشد
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="all-services">
                    <!-- Start services -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-services-item"><a class="service-images" href="#"><i class="fa fa-code"></i></a>
                            <div class="service-content-block">
                                <h4><a href="#">توسعه وب</a></h4>
                                <p>امروزه بیشتر و بیشتر مصرف‌کنندگان برای جستجوی محصولات یا خدمات مورد نیاز خود از اینترنت استفاده می‌کنند. کسب‌وکار کوچک شما با یک وب‌سایت، اعتبار زیادی کسب می‌کند. .......................</p>
                            </div>
                        </div>
                    </div>

                    <!-- Start services -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-services-item"><a class="service-images" href="#"><i class="fa fa-cloud"></i></a>
                            <div class="service-content-block">
                                <h4><a href="#">پیاه سازی کلاود</a></h4>
                                <p>یک کلود یا ابر، در حقیقت ردیفی گسترده از کامپیوترهایی است که به یکدیگر متصل شده‌اند و بعنوان یک اکوسیستم واحد به فعالیت می‌پردازند. ابرها به گونه‌ای پیکربندی می‌شوند تا یک یا چند نوع سرویس به خصوص (نظیر ذخیره‌ی داده،ا
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Start services -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-services-item"><a class="service-images" href="#"><i
                                class="fa fa-wordpress"></i></a>
                            <div class="service-content-block">
                                <h4><a href="#">WordPress</a></h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                    برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                            </div>
                        </div>
                    </div>
                    <!-- Start services -->
                    <!-- Start services -->
                    <!-- Start services -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Service area -->
    <!--Blog Area Start-->
    <div class="blog-section area-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h3>وبلاگ</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="blog-grid home-blog">
                    <!-- Start single blog -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-item-blog">
                            <div class="blog-image-box"><a class="image-scale" href="#"> <img
                                    src="{% static 'img/blog/1.jpg' %} " alt=""> </a></div>
                            <div class="blog-content-box">
                                <div class="blog-title"><a href="#">
                                    <h4>عنوان بلاگ</h4>
                                </a>
                                    <div class="blog-meta-box"><span class="date-type"><i class="fa fa-calendar"
                                                                                          aria-hidden="true"></i>۰۱ فروردین ۱۳۹۸</span>
                                        <span class="comments-type"> <i class="fa fa-comment-o"></i> ۰۲ </span></div>
                                </div>
                                <div class="blog-description">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                                    <a class="blog-btn" href="#">بیشتر بدانید</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="single-item-blog">
                            <div class="blog-image-box"><a class="image-scale" href="#"> <img
                                    src="{% static 'img/blog/2.jpg' %}" alt=""> </a></div>
                            <div class="blog-content-box">
                                <div class="blog-title"><a href="#">
                                    <h4>عنوان بلاگ</h4>
                                </a>
                                    <div class="blog-meta-box"><span class="date-type"><i class="fa fa-calendar"
                                                                                          aria-hidden="true"></i>۰۱ فروردین ۱۳۹۸</span>
                                        <span class="comments-type"> <i class="fa fa-comment-o"></i> ۰۲ </span></div>
                                </div>
                                <div class="blog-description">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                                    <a class="blog-btn" href="#">بیشتر بدانید</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="single-item-blog">
                            <div class="blog-image-box"><a class="image-scale" href="#"> <img
                                    src="{% static 'img/blog/3.jpg' %}" alt=""> </a></div>
                            <div class="blog-content-box">
                                <div class="blog-title"><a href="#">
                                    <h4>عنوان بلاگ</h4>
                                </a>
                                    <div class="blog-meta-box"><span class="date-type"><i class="fa fa-calendar"
                                                                                          aria-hidden="true"></i>۰۱ فروردین ۱۳۹۸</span>
                                        <span class="comments-type"> <i class="fa fa-comment-o"></i> ۰۲ </span></div>
                                </div>
                                <div class="blog-description">
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای</p>
                                    <a class="blog-btn" href="#">بیشتر بدانید</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                </div>
            </div>
            <!-- End row -->
        </div>
    </div>
    <!--End of Blog Area-->
{% endblock %}
