{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!--Team Area Start-->
    <div class="team-section area-padding">
        <div class="container">
            <div class="row">
                <div class="team-member-block team-member-block-page">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-item-member">
                            <div class="team-member-img"><a href="#"> <img src="img/team/t1.jpg" alt=""> </a></div>
                            <div class="team-member-content">
                                <div class="team-member-title">
                                    <h4>نام عضو‍‍</h4>
                                    <h6>موقعیت</h6>
                                </div>
                                <div class="team-description">
                                    <div class="team-description">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون </p>
                                    </div>
                                </div>
                                <div class="team-member-social">
                                    <ul class="social-icon">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- team member-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-item-member">
                            <div class="team-member-img"><a href="#"> <img src="img/team/t2.jpg" alt=""> </a></div>
                            <div class="team-member-content">
                                <div class="team-member-title">
                                    <h4>نام عضو‍‍</h4>
                                    <h6>موقعیت</h6>
                                </div>
                                <div class="team-description">
                                    <div class="team-description">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون </p>
                                    </div>
                                </div>
                                <div class="team-member-social">
                                    <ul class="social-icon">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- team member-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-item-member">
                            <div class="team-member-img"><a href="#"> <img src="img/team/t3.jpg" alt=""> </a></div>
                            <div class="team-member-content">
                                <div class="team-member-title">
                                    <h4>نام عضو‍‍</h4>
                                    <h6>موقعیت</h6>
                                </div>
                                <div class="team-description">
                                    <div class="team-description">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون </p>
                                    </div>
                                </div>
                                <div class="team-member-social">
                                    <ul class="social-icon">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- team member-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-item-member">
                            <div class="team-member-img"><a href="#"> <img src="img/team/t4.jpg" alt=""> </a></div>
                            <div class="team-member-content">
                                <div class="team-member-title">
                                    <h4>نام عضو‍‍</h4>
                                    <h6>موقعیت</h6>
                                </div>
                                <div class="team-description">
                                    <div class="team-description">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون </p>
                                    </div>
                                </div>
                                <div class="team-member-social">
                                    <ul class="social-icon">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- team member-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-item-member">
                            <div class="team-member-img"><a href="#"> <img src="img/team/t5.jpg" alt=""> </a></div>
                            <div class="team-member-content">
                                <div class="team-member-title">
                                    <h4>نام عضو‍‍</h4>
                                    <h6>موقعیت</h6>
                                </div>
                                <div class="team-description">
                                    <div class="team-description">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون </p>
                                    </div>
                                </div>
                                <div class="team-member-social">
                                    <ul class="social-icon">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- team member-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-item-member">
                            <div class="team-member-img"><a href="#"> <img src="img/team/t6.jpg" alt=""> </a></div>
                            <div class="team-member-content">
                                <div class="team-member-title">
                                    <h4>نام عضو‍‍</h4>
                                    <h6>موقعیت</h6>
                                </div>
                                <div class="team-description">
                                    <div class="team-description">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون </p>
                                    </div>
                                </div>
                                <div class="team-member-social">
                                    <ul class="social-icon">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- team member-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-item-member">
                            <div class="team-member-img"><a href="#"> <img src="img/team/t7.jpg" alt=""> </a></div>
                            <div class="team-member-content">
                                <div class="team-member-title">
                                    <h4>نام عضو‍‍</h4>
                                    <h6>موقعیت</h6>
                                </div>
                                <div class="team-description">
                                    <div class="team-description">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون </p>
                                    </div>
                                </div>
                                <div class="team-member-social">
                                    <ul class="social-icon">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- team member-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-item-member">
                            <div class="team-member-img"><a href="#"> <img src="img/team/t8.jpg" alt=""> </a></div>
                            <div class="team-member-content">
                                <div class="team-member-title">
                                    <h4>نام عضو‍‍</h4>
                                    <h6>موقعیت</h6>
                                </div>
                                <div class="team-description">
                                    <div class="team-description">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون </p>
                                    </div>
                                </div>
                                <div class="team-member-social">
                                    <ul class="social-icon">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- team member-->
                </div>
            </div>
            <!-- End row -->
        </div>
    </div>
    <!--End of Team Area-->
{% endblock %}
