{% extends 'base.html' %}

{% block content %}

    <!-- Start Bottom Header -->
    <div class="page-inner-area">
        <div class="breadcumb-dark-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="section-title white-head">
                            <h3>تماس با ما</h3>
                        </div>
                        <ul>
                            <li class="home-bread">خانه</li>
                            <li>تماس با ما</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END Header -->
    <!-- Start contact Area -->
    <div class="contact-page-area area-padding">
        <div class="container">
            <!-- End row -->
            <div class="row">
                <div class="col-md-12 col-sm-12 ">
                    <div class="contact-details-box">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- Start contact icon column -->
                                <div class="contact-box">
                                    <div class="single-contact-item">
                                        <h5>آدرس :</h5>
                                        <a href="#"><i class="fa fa-map"></i><span>لورم ایپسوم متن ساختگی با تولید سادگی نامفهومشریعتی خ حمید صدیق پلاک ۱۱</span></a>
                                        <a href="#"><i class="fa fa-phone"></i><span>+۹۸-۲۱-۲۲۲۶۳۵۱۳</span></a> <a
                                            href="#"><i class="fa fa-envelope"></i><span>info@rayaco.net</span></a>
                                    </div>
                                </div>


                            </div>
                            <div class="col-md-8">
                                <div class="contact-heading">
                                    <h3>درخواست یک <span class="color">تماس</span></h3>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                        گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و
                                        برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهایلورم ایپسوم متن ساختگی با تولید
                                        سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه
                                        روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد
                                        نیاز و کاربردهای</p>
                                    <div class="project-share">
                                        <h5>در شبکه های اجتماعی ما را دنبال کنید</h5>
                                        <ul class="project-social">
                                            <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                            <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                                            <li><a href="#"> <i class="fa fa-google"></i> </a></li>
                                            <li><a href="#"> <i class="fa fa-pinterest"></i> </a></li>
                                            <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="contact-form">
                                    <div class="row">
                                        <form id="contact-form" method="POST" action="{% url 'contact' %}"
                                              class="contact-form">
                                            {% csrf_token %}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" name="name" class="form-control"
                                                       placeholder="نام" required data-error="نام خود را وارد کنید">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" name="last_name" class="form-control"
                                                       placeholder="نام خانوادگی" required
                                                       data-error="نام خانوادگی خود را وارد کنید">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="email" class="email form-control" name="email"
                                                       placeholder="پست الکترونیک" required
                                                       data-error="پست الکترونیک خود را وارد کنید">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <input type="text" class="form-control" name="phone"
                                                       placeholder="شماره تماس" required
                                                       data-error="شماره تماس خود را وارد کنید">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <textarea name="message" rows="7" placeholder="دیدگاه"
                                                          class="form-control" required
                                                          data-error="دیدگاه خود را بنویسید"></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                                <button type="submit" id="submit" class="contact-btn">ارسال</button>
                                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->
    <!-- Start contact Area -->
    <div class="map-section">
        <div class="container-full">
            <div class="row">
                <!-- Start contact icon column -->
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- Start Map -->
                    <div class="map-box">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d60478599.010649286!2d73.1763878!3d22.3037064!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1522219724446"></iframe>
                    </div>
                    <!-- End Map -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}





</body>
</html>
